html,
body,
header,
.main-view {
  height: 100%;
}

.navbar-brand {
    background-color: lightseagreen;
    color: whitesmoke;
}

.navbar-custom {
    background-color: lightgray;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .main-view {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-repeat: no-repeat; background-size: cover; background-position: center;
  }

  h1 {
    color: lightseagreen
  }

  .target-box {
    background-color: gainsboro;
    margin-top: 30px;
    margin-left: 20px;
  }

  .me-pic-desc {
    display: flex;
    align-items: flex-start;
  }

  .portfolio-img {
    float: left;
    width: 33.33%;
    max-height: 350px;
    max-width: 350px;
    margin-bottom: 10px;    
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: gray;
    text-align: center;
    border-top-style: solid;
    border-top-color: lightseagreen;
    border-top-width: 4px;
 }




  /* @media (max-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
        }
    } */